__pycache__/
results/
weights/
corpus/
exp/
my_diffusers/
sdxl_example/
exp_fid.ipynb
exp_appendix.ipynb
exp_ablation.ipynb
exp_beta_prior.ipynb
exp_illustration.ipynb
exp_vfused_sfused.ipynb
exp_real_image.ipynb
hf_auth
direct_eval.py
play.py
refinement_eval.py
edict.py
*.pt
.vscode/
shiyishi.*
exp_sdxl.ipynb
playground.py
references/